firmware/HWRunSwitch/hwrunswitch.elf
firmware/HWRunSwitch/hwrunswitch.hex
firmware/mainboard-copro/*.cod
firmware/mainboard-copro/*.cof
firmware/mainboard-copro/*.d
firmware/mainboard-copro/*.err
firmware/mainboard-copro/*.hex
firmware/mainboard-copro/*.lst
firmware/mainboard-copro/*.map
software/*.d
software/ai/*.d
software/ai/navigator/*.d
software/ai/role/*.d
software/ai/strategy/*.d
software/ai/tactic/*.d
software/firmware/*.d
software/geom/*.d
software/leastsquares/*.d
software/log/*.d
software/log/reader/*.d
software/log/writer/*.d
software/rctest
software/robot_controller/*.d
software/robot_controller/joystick/*.d
software/robot_controller_test/*.d
software/simulator/*.d
software/simulator/engines/*.d
software/simulator/engines/ODE_simulator/*.d
software/simulator/engines/collisionless/*.d
software/simulator/referees/*.d
software/tester/*.d
software/thunderbots
software/uicomponents/*.d
software/util/*.d
software/world/*.d
software/xbee/*.d
software/xbee/daemon/*.d
software/xbeeconfig
