* text=auto !eol
firmware/BoostConverter/Makefile -text
firmware/BoostConverter/boostconverter.c -text
firmware/BoostConverter/config.c -text
firmware/BoostConverter/pwm.c -text
firmware/BoostConverter/pwm.h -text
firmware/HWRunSwitch/Makefile -text
firmware/HWRunSwitch/hwrunswitch.c -text
firmware/MotorController/Makefile -text
firmware/MotorController/test.c -text
firmware/flybackconverter/Makefile -text
firmware/flybackconverter/config.c -text
firmware/flybackconverter/pwm.c -text
firmware/flybackconverter/pwm.h -text
firmware/flybackconverter/test.c -text
firmware/mainboard-copro/18f4550.lkr -text
firmware/mainboard-copro/Makefile -text
firmware/mainboard-copro/adc.asm -text
firmware/mainboard-copro/bootblock.asm -text
firmware/mainboard-copro/bootload.asm -text
firmware/mainboard-copro/cbuf.inc -text
firmware/mainboard-copro/config.asm -text
firmware/mainboard-copro/configure_fpga.asm -text
firmware/mainboard-copro/dispatch.inc -text
firmware/mainboard-copro/emerg_erase.asm -text
firmware/mainboard-copro/externdef.inc -text
firmware/mainboard-copro/led.asm -text
firmware/mainboard-copro/led.inc -text
firmware/mainboard-copro/main.asm -text
firmware/mainboard-copro/pingen.c -text
firmware/mainboard-copro/pins.txt -text
firmware/mainboard-copro/sleep.asm -text
firmware/mainboard-copro/sleep.inc -text
firmware/mainboard-copro/spi.inc -text
firmware/messages.txt -text
software/Doxyfile -text
software/Makefile -text
software/ai/ai.cpp -text
software/ai/ai.h -text
software/ai/backend/backend.cpp -text
software/ai/backend/backend.h -text
software/ai/backend/simulator/backend.cpp -text
software/ai/backend/simulator/backend.h -text
software/ai/backend/simulator/ball.cpp -text
software/ai/backend/simulator/ball.h -text
software/ai/backend/simulator/field.h -text
software/ai/backend/simulator/player.cpp -text
software/ai/backend/simulator/player.h -text
software/ai/backend/simulator/robot.h -text
software/ai/backend/simulator/team.h -text
software/ai/backend/xbeed/ball.cpp -text
software/ai/backend/xbeed/ball.h -text
software/ai/backend/xbeed/field.cpp -text
software/ai/backend/xbeed/field.h -text
software/ai/backend/xbeed/player.cpp -text
software/ai/backend/xbeed/player.h -text
software/ai/backend/xbeed/refbox.cpp -text
software/ai/backend/xbeed/refbox.h -text
software/ai/backend/xbeed/robot.cpp -text
software/ai/backend/xbeed/robot.h -text
software/ai/backend/xbeed/xbeed_backend.cpp -text
software/ai/ball_filter/ball_filter.h -text
software/ai/ball_filter/chris_filter.cpp -text
software/ai/ball_filter/world.h -text
software/ai/coach/coach.cpp -text
software/ai/coach/coach.h -text
software/ai/coach/random.cpp -text
software/ai/coach/world.h -text
software/ai/common/ball.cpp -text
software/ai/common/ball.h -text
software/ai/common/field.cpp -text
software/ai/common/field.h -text
software/ai/common/player.h -text
software/ai/common/playtype.cpp -text
software/ai/common/playtype.h -text
software/ai/common/predictable.h -text
software/ai/common/robot.cpp -text
software/ai/common/robot.h -text
software/ai/common/team.h -text
software/ai/common/world.h -text
software/ai/flags.cpp -text
software/ai/flags.h -text
software/ai/hl/basic_play_strategy.cpp -text
software/ai/hl/defender.cpp -text
software/ai/hl/defender.h -text
software/ai/hl/free_kick_friendly.cpp -text
software/ai/hl/free_kick_friendly.h -text
software/ai/hl/free_kick_strategy.cpp -text
software/ai/hl/kickoff_enemy_strategy.cpp -text
software/ai/hl/offender.cpp -text
software/ai/hl/offender.h -text
software/ai/hl/penalty_enemy.cpp -text
software/ai/hl/penalty_enemy.h -text
software/ai/hl/penalty_friendly.cpp -text
software/ai/hl/penalty_friendly.h -text
software/ai/hl/penalty_strategy.cpp -text
software/ai/hl/stop_strategy.cpp -text
software/ai/hl/strategy.cpp -text
software/ai/hl/strategy.h -text
software/ai/hl/tactics.cpp -text
software/ai/hl/tactics.h -text
software/ai/hl/util.cpp -text
software/ai/hl/util.h -text
software/ai/hl/world.cpp -text
software/ai/hl/world.h -text
software/ai/logger.cpp -text
software/ai/logger.h -text
software/ai/main.cpp -text
software/ai/navigator/RRTnavigator.cpp -text
software/ai/navigator/navigator.cpp -text
software/ai/navigator/navigator.h -text
software/ai/navigator/simple_navigator.cpp -text
software/ai/navigator/tree.hh -text
software/ai/navigator/world.h -text
software/ai/robot_controller/adhoc2_controller.cpp -text
software/ai/robot_controller/fuzzy2_controller.cpp -text
software/ai/robot_controller/fuzzy_controller.cpp -text
software/ai/robot_controller/fuzzy_controller.h -text
software/ai/robot_controller/max_controller.cpp -text
software/ai/robot_controller/robot_controller.cpp -text
software/ai/robot_controller/robot_controller.h -text
software/ai/robot_controller/tunable_adhoc_controller.cpp -text
software/ai/robot_controller/tunable_controller.cpp -text
software/ai/robot_controller/tunable_controller.h -text
software/ai/robot_controller/tunable_pid_controller.cpp -text
software/ai/robot_controller/tunable_pid_controller.h -text
software/ai/robot_controller/world.h -text
software/ai/window.cpp -text
software/ai/window.h -text
software/config.xml -text
software/config/main.cpp -text
software/config/window.cpp -text
software/config/window.h -text
software/fw/bootproto.cpp -text
software/fw/bootproto.h -text
software/fw/claim.cpp -text
software/fw/claim.h -text
software/fw/emergency_erase.cpp -text
software/fw/emergency_erase.h -text
software/fw/fpga.cpp -text
software/fw/fpga.h -text
software/fw/ihex.cpp -text
software/fw/ihex.h -text
software/fw/main.cpp -text
software/fw/pic.cpp -text
software/fw/pic.h -text
software/fw/watchable_operation.h -text
software/fw/watchable_pair.cpp -text
software/fw/watchable_pair.h -text
software/fw/window.cpp -text
software/fw/window.h -text
software/geom/angle.cpp -text
software/geom/angle.h -text
software/geom/point.cpp -text
software/geom/point.h -text
software/geom/rect.cpp -text
software/geom/rect.h -text
software/geom/util.cpp -text
software/geom/util.h -text
software/leastsquares/ap.cpp -text
software/leastsquares/ap.english.html -text
software/leastsquares/ap.h -text
software/leastsquares/ap.russian.html -text
software/leastsquares/apvt.h -text
software/leastsquares/bdsvd.cpp -text
software/leastsquares/bdsvd.h -text
software/leastsquares/bidiagonal.cpp -text
software/leastsquares/bidiagonal.h -text
software/leastsquares/blas.cpp -text
software/leastsquares/blas.h -text
software/leastsquares/faq.english.html -text
software/leastsquares/faq.russian.html -text
software/leastsquares/leastsquares.cpp -text
software/leastsquares/leastsquares.h -text
software/leastsquares/lq.cpp -text
software/leastsquares/lq.h -text
software/leastsquares/qr.cpp -text
software/leastsquares/qr.h -text
software/leastsquares/reflections.cpp -text
software/leastsquares/reflections.h -text
software/leastsquares/rotations.cpp -text
software/leastsquares/rotations.h -text
software/leastsquares/spline3.cpp -text
software/leastsquares/spline3.h -text
software/leastsquares/svd.cpp -text
software/leastsquares/svd.h -text
software/log/analyzer.cpp -text
software/log/analyzer.h -text
software/log/launcher.cpp -text
software/log/launcher.h -text
software/log/main.cpp -text
software/log/shared/tags.h -text
software/proto/messages_robocup_ssl_detection.proto -text
software/proto/messages_robocup_ssl_geometry.proto -text
software/proto/messages_robocup_ssl_wrapper.proto -text
software/rxdata.cpp -text
software/simulator/ball.h -text
software/simulator/connection.cpp -text
software/simulator/connection.h -text
software/simulator/engines/ODE_simulator/ballODE.cpp -text
software/simulator/engines/ODE_simulator/ballODE.h -text
software/simulator/engines/ODE_simulator/compo_player_geom.cpp -text
software/simulator/engines/ODE_simulator/compo_player_geom.h -text
software/simulator/engines/ODE_simulator/ode_simulator.cpp -text
software/simulator/engines/ODE_simulator/playerODE.cpp -text
software/simulator/engines/ODE_simulator/playerODE.h -text
software/simulator/engines/ODE_simulator/player_geom.h -text
software/simulator/engines/ODE_simulator/player_shapes.h -text
software/simulator/engines/engine.h -text
software/simulator/field.cpp -text
software/simulator/field.h -text
software/simulator/main.cpp -text
software/simulator/player.h -text
software/simulator/simulator.cpp -text
software/simulator/simulator.h -text
software/simulator/sockproto/proto.h -text
software/simulator/team.cpp -text
software/simulator/team.h -text
software/style.txt -text
software/test/controlled_permotor_drive.h -text
software/test/direct_drive.h -text
software/test/feedback.cpp -text
software/test/feedback.h -text
software/test/main.cpp -text
software/test/matrix_drive.cpp -text
software/test/matrix_drive.h -text
software/test/permotor_drive.cpp -text
software/test/permotor_drive.h -text
software/test/window.cpp -text
software/test/window.h -text
software/test/zeroable.h -text
software/uicomponents/abstract_list_model.cpp -text
software/uicomponents/abstract_list_model.h -text
software/uicomponents/annunciator.cpp -text
software/uicomponents/annunciator.h -text
software/uicomponents/battery_meter.cpp -text
software/uicomponents/battery_meter.h -text
software/uicomponents/dribbler_meter.cpp -text
software/uicomponents/dribbler_meter.h -text
software/uicomponents/feedback_interval_meter.cpp -text
software/uicomponents/feedback_interval_meter.h -text
software/uicomponents/inbound_rssi_meter.cpp -text
software/uicomponents/inbound_rssi_meter.h -text
software/uicomponents/latency_meter.cpp -text
software/uicomponents/latency_meter.h -text
software/uicomponents/light.cpp -text
software/uicomponents/light.h -text
software/uicomponents/outbound_rssi_meter.cpp -text
software/uicomponents/outbound_rssi_meter.h -text
software/uicomponents/param.cpp -text
software/uicomponents/param.h -text
software/uicomponents/run_data_interval_meter.cpp -text
software/uicomponents/run_data_interval_meter.h -text
software/uicomponents/single_bot_combobox.cpp -text
software/uicomponents/single_bot_combobox.h -text
software/uicomponents/success_meter.cpp -text
software/uicomponents/success_meter.h -text
software/uicomponents/visualizer.cpp -text
software/uicomponents/visualizer.h -text
software/uncrustify.cfg -text
software/util/algorithm.h -text
software/util/annunciator.cpp -text
software/util/annunciator.h -text
software/util/byref.h -text
software/util/chdir.cpp -text
software/util/chdir.h -text
software/util/clocksource.h -text
software/util/clocksource_timerfd.cpp -text
software/util/clocksource_timerfd.h -text
software/util/codec.cpp -text
software/util/codec.h -text
software/util/config.cpp -text
software/util/config.h -text
software/util/crc16.cpp -text
software/util/crc16.h -text
software/util/dprint.cpp -text
software/util/dprint.h -text
software/util/exception.cpp -text
software/util/exception.h -text
software/util/fd.cpp -text
software/util/fd.h -text
software/util/hungarian.cpp -text
software/util/hungarian.h -text
software/util/mapped_file.cpp -text
software/util/mapped_file.h -text
software/util/matrix.h -text
software/util/misc.cpp -text
software/util/misc.h -text
software/util/mutex.cpp -text
software/util/mutex.h -text
software/util/noncopyable.h -text
software/util/objectstore.cpp -text
software/util/objectstore.h -text
software/util/predictor.cpp -text
software/util/predictor.h -text
software/util/property.h -text
software/util/registerable.h -text
software/util/rle.cpp -text
software/util/rle.h -text
software/util/rwlock.h -text
software/util/scoped_ptr.h -text
software/util/shm.cpp -text
software/util/shm.h -text
software/util/signal.cpp -text
software/util/signal.h -text
software/util/sockaddrs.cpp -text
software/util/sockaddrs.h -text
software/util/stochastic_local_search.cpp -text
software/util/stochastic_local_search.h -text
software/util/time.h -text
software/util/timestep.h -text
software/util/trackable_vector.h -text
software/util/umask.cpp -text
software/util/umask.h -text
software/util/xbee.cpp -text
software/util/xbee.h -text
software/xbee/client/drive.cpp -text
software/xbee/client/drive.h -text
software/xbee/client/lowlevel.cpp -text
software/xbee/client/lowlevel.h -text
software/xbee/client/packet.cpp -text
software/xbee/client/packet.h -text
software/xbee/client/raw.cpp -text
software/xbee/client/raw.h -text
software/xbee/daemon/frontend/already_running.cpp -text
software/xbee/daemon/frontend/already_running.h -text
software/xbee/daemon/frontend/backend.h -text
software/xbee/daemon/frontend/client.cpp -text
software/xbee/daemon/frontend/client.h -text
software/xbee/daemon/frontend/daemon.cpp -text
software/xbee/daemon/frontend/daemon.h -text
software/xbee/daemon/frontend/request.h -text
software/xbee/daemon/frontend/resource_allocation_failed.cpp -text
software/xbee/daemon/frontend/resource_allocation_failed.h -text
software/xbee/daemon/frontend/robot_state.cpp -text
software/xbee/daemon/frontend/robot_state.h -text
software/xbee/daemon/frontend/scheduler.cpp -text
software/xbee/daemon/frontend/scheduler.h -text
software/xbee/daemon/physical/byteproto.cpp -text
software/xbee/daemon/physical/byteproto.h -text
software/xbee/daemon/physical/main.cpp -text
software/xbee/daemon/physical/packetproto.cpp -text
software/xbee/daemon/physical/packetproto.h -text
software/xbee/daemon/physical/serial.cpp -text
software/xbee/daemon/physical/serial.h -text
software/xbee/shared/number_allocator.h -text
software/xbee/shared/packettypes.h -text
software/xbeeconfig.cpp -text
software/xbeerconfig.cpp -text
