* text=auto !eol
firmware/Bot/Makefile -text
firmware/Bot/adcpins.c -text
firmware/Bot/adcpins.h -text
firmware/Bot/constants.h -text
firmware/Bot/debug.c -text
firmware/Bot/debug.h -text
firmware/Bot/filter.c -text
firmware/Bot/filter.h -text
firmware/Bot/gyro.c -text
firmware/Bot/gyro.h -text
firmware/Bot/iopins.h -text
firmware/Bot/main.c -text
firmware/Bot/mkversion.sh -text
firmware/Bot/pwmpins.c -text
firmware/Bot/pwmpins.h -text
firmware/Bot/rtc.c -text
firmware/Bot/rtc.h -text
firmware/Bot/test.c -text
firmware/Bot/test.h -text
firmware/Bot/wheel.c -text
firmware/Bot/wheel.h -text
firmware/Bot/xbee.c -text
firmware/Bot/xbee.h -text
firmware/BotTestBench/BotTestBench.pde -text
firmware/BotTestBench/Filter.cpp -text
firmware/BotTestBench/Filter.h -text
firmware/Counter4/18f2550.lkr -text
firmware/Counter4/Makefile -text
firmware/Counter4/counter4.asm -text
firmware/HWRunSwitch/Makefile -text
firmware/HWRunSwitch/hwrunswitch.c -text
firmware/WheelTestBench/WheelTestBench.pde -text
software/Makefile -text
software/geom/point.cpp -text
software/geom/point.h -text
software/robot_controller/robot_controller.cpp -text
software/robot_controller/robot_controller.h -text
software/robot_controller_test/main.cpp -text
software/robot_controller_test/player.cpp -text
software/robot_controller_test/player.h -text
software/robot_controller_test/testing_rc.cpp -text
software/robot_controller_test/testing_rc.h -text
software/util/byref.h -text
software/util/circular_buffer.h -text
software/world/ball.h -text
software/world/field.h -text
software/world/player.h -text
software/world/robot.h -text
