* text=auto !eol
firmware/BoostConverter/Makefile -text
firmware/BoostConverter/boostconverter.c -text
firmware/BoostConverter/config.c -text
firmware/BoostConverter/pwm.c -text
firmware/BoostConverter/pwm.h -text
firmware/ChickerTest/Makefile -text
firmware/ChickerTest/chickertest.c -text
firmware/ChickerTest/config.c -text
firmware/ChickerTest/pwm.c -text
firmware/ChickerTest/pwm.h -text
firmware/HWRunSwitch/Makefile -text
firmware/HWRunSwitch/hwrunswitch.c -text
firmware/MotorControl2/Makefile -text
firmware/MotorControl2/test.c -text
firmware/MotorController/Makefile -text
firmware/MotorController/test.c -text
firmware/SuperSimpleBoostConverter/18f4550.lkr -text
firmware/SuperSimpleBoostConverter/Makefile -text
firmware/SuperSimpleBoostConverter/boostconverter.c -text
firmware/SuperSimpleBoostConverter/boostconverter.h -text
firmware/SuperSimpleBoostConverter/config.c -text
firmware/SuperSimpleBoostConverter/config.h -text
firmware/dongle/18f65j50.lkr -text
firmware/dongle/Doxyfile -text
firmware/dongle/Makefile -text
firmware/dongle/config.c -text
firmware/dongle/debug.c -text
firmware/dongle/debug.h -text
firmware/dongle/descriptors.c -text
firmware/dongle/descriptors.h -text
firmware/dongle/dongle_status.c -text
firmware/dongle/dongle_status.h -text
firmware/dongle/endpoints.h -text
firmware/dongle/error_reporting.c -text
firmware/dongle/estop.c -text
firmware/dongle/estop.h -text
firmware/dongle/global.c -text
firmware/dongle/global.h -text
firmware/dongle/main.c -text
firmware/dongle/message_in.c -text
firmware/dongle/message_in.h -text
firmware/dongle/message_out.c -text
firmware/dongle/message_out.h -text
firmware/dongle/pins.txt -text
firmware/dongle/queue.h -text
firmware/dongle/run.c -text
firmware/dongle/run.h -text
firmware/dongle/serial.c -text
firmware/dongle/serial.h -text
firmware/dongle/signal.h -text
firmware/dongle/stack.h -text
firmware/dongle/stackcheck.c -text
firmware/dongle/state_transport_in.c -text
firmware/dongle/state_transport_in.h -text
firmware/dongle/state_transport_out.c -text
firmware/dongle/state_transport_out.h -text
firmware/dongle/usb.c -text
firmware/dongle/usb.h -text
firmware/dongle/usb_bd.h -text
firmware/dongle/usb_config.h -text
firmware/dongle/usb_ep0.c -text
firmware/dongle/usb_internal.h -text
firmware/dongle/usb_lowlevel.c -text
firmware/dongle/usb_spec.h -text
firmware/dongle/xbee_rxpacket.c -text
firmware/dongle/xbee_txpacket.c -text
firmware/flybackconverter/Makefile -text
firmware/flybackconverter/config.h -text
firmware/flybackconverter/main.c -text
firmware/main/18f67j50.lkr -text
firmware/main/Makefile -text
firmware/main/config.c -text
firmware/main/crc.c -text
firmware/main/drive.c -text
firmware/main/drive.h -text
firmware/main/error_reporting.c -text
firmware/main/feedback.c -text
firmware/main/feedback.h -text
firmware/main/main.c -text
firmware/main/params.c -text
firmware/main/params.h -text
firmware/main/parbus.h -text
firmware/main/pins.txt -text
firmware/main/queue.h -text
firmware/main/run.c -text
firmware/main/run.h -text
firmware/main/serial.c -text
firmware/main/serial.h -text
firmware/main/signal.h -text
firmware/main/spi.c -text
firmware/main/spi.h -text
firmware/main/stack.h -text
firmware/main/stackcheck.c -text
firmware/main/wheel_controller.c -text
firmware/main/wheel_controller.h -text
firmware/main/xbee_rxpacket.c -text
firmware/main/xbee_txpacket.c -text
firmware/messages.txt -text
firmware/pingen/Makefile -text
firmware/pingen/pingen.c -text
firmware/shared/crc.c -text
firmware/shared/crc.h -text
firmware/shared/critsec.h -text
firmware/shared/drive.h -text
firmware/shared/error_reporting.h -text
firmware/shared/faults.h -text
firmware/shared/feedback.h -text
firmware/shared/fw.h -text
firmware/shared/params.h -text
firmware/shared/pipes.h -text
firmware/shared/serial.c -text
firmware/shared/stackcheck.c -text
firmware/shared/stackcheck.h -text
firmware/shared/xbee_rxpacket.c -text
firmware/shared/xbee_rxpacket.h -text
firmware/shared/xbee_txpacket.c -text
firmware/shared/xbee_txpacket.h -text
software/Doxyfile -text
software/Makefile -text
software/ai/ai.cpp -text
software/ai/ai.h -text
software/ai/backend/backend.cpp -text
software/ai/backend/backend.h -text
software/ai/backend/simulator/backend.cpp -text
software/ai/backend/simulator/backend.h -text
software/ai/backend/simulator/ball.cpp -text
software/ai/backend/simulator/ball.h -text
software/ai/backend/simulator/field.h -text
software/ai/backend/simulator/player.cpp -text
software/ai/backend/simulator/player.h -text
software/ai/backend/simulator/robot.h -text
software/ai/backend/simulator/team.h -text
software/ai/backend/xbee/ball.cpp -text
software/ai/backend/xbee/ball.h -text
software/ai/backend/xbee/field.cpp -text
software/ai/backend/xbee/field.h -text
software/ai/backend/xbee/player.cpp -text
software/ai/backend/xbee/player.h -text
software/ai/backend/xbee/refbox.cpp -text
software/ai/backend/xbee/refbox.h -text
software/ai/backend/xbee/robot.cpp -text
software/ai/backend/xbee/robot.h -text
software/ai/backend/xbee/xbee_backend.cpp -text
software/ai/backend/xbee/xbee_backend.h -text
software/ai/ball_filter/ball_filter.h -text
software/ai/ball_filter/chris_filter.cpp -text
software/ai/ball_filter/world.h -text
software/ai/common/ball.cpp -text
software/ai/common/ball.h -text
software/ai/common/field.cpp -text
software/ai/common/field.h -text
software/ai/common/player.h -text
software/ai/common/playtype.cpp -text
software/ai/common/playtype.h -text
software/ai/common/predictable.h -text
software/ai/common/robot.cpp -text
software/ai/common/robot.h -text
software/ai/common/team.h -text
software/ai/common/world.h -text
software/ai/flags.cpp -text
software/ai/flags.h -text
software/ai/hl/hl.h -text
software/ai/hl/movement_benchmark/movement_benchmark_hl.cpp -text
software/ai/hl/old/basic_play_strategy.cpp -text
software/ai/hl/old/defender.cpp -text
software/ai/hl/old/defender.h -text
software/ai/hl/old/frantic_play_strategy.cpp -text
software/ai/hl/old/free_kick_enemy_strategy.cpp -text
software/ai/hl/old/free_kick_friendly_strategy.cpp -text
software/ai/hl/old/kickoff_enemy_strategy.cpp -text
software/ai/hl/old/kickoff_friendly_strategy.cpp -text
software/ai/hl/old/movement_benchmark.cpp -text
software/ai/hl/old/offender.cpp -text
software/ai/hl/old/offender.h -text
software/ai/hl/old/old.cpp -text
software/ai/hl/old/penalty_enemy_strategy.cpp -text
software/ai/hl/old/penalty_friendly_strategy.cpp -text
software/ai/hl/old/stop_strategy.cpp -text
software/ai/hl/old/strategy.cpp -text
software/ai/hl/old/strategy.h -text
software/ai/hl/old/tactics.cpp -text
software/ai/hl/old/tactics.h -text
software/ai/hl/old/test_strategy.cpp -text
software/ai/hl/stp/action/actions.cpp -text
software/ai/hl/stp/action/actions.h -text
software/ai/hl/stp/action/goalie.cpp -text
software/ai/hl/stp/action/goalie.h -text
software/ai/hl/stp/action/shoot.cpp -text
software/ai/hl/stp/action/shoot.h -text
software/ai/hl/stp/coordinate.cpp -text
software/ai/hl/stp/coordinate.h -text
software/ai/hl/stp/enemy.cpp -text
software/ai/hl/stp/enemy.h -text
software/ai/hl/stp/evaluation/ball_threat.cpp -text
software/ai/hl/stp/evaluation/ball_threat.h -text
software/ai/hl/stp/evaluation/defense.cpp -text
software/ai/hl/stp/evaluation/defense.h -text
software/ai/hl/stp/evaluation/enemy.cpp -text
software/ai/hl/stp/evaluation/enemy.h -text
software/ai/hl/stp/evaluation/offense.cpp -text
software/ai/hl/stp/evaluation/offense.h -text
software/ai/hl/stp/evaluation/pass.cpp -text
software/ai/hl/stp/evaluation/pass.h -text
software/ai/hl/stp/evaluation/shoot.cpp -text
software/ai/hl/stp/evaluation/shoot.h -text
software/ai/hl/stp/play/defensive_block.cpp -text
software/ai/hl/stp/play/frantic_defense.cpp -text
software/ai/hl/stp/play/free_kick_enemy.cpp -text
software/ai/hl/stp/play/free_kick_friendly.cpp -text
software/ai/hl/stp/play/grab_ball.cpp -text
software/ai/hl/stp/play/just_shoot.cpp -text
software/ai/hl/stp/play/kickoff_enemy.cpp -text
software/ai/hl/stp/play/kickoff_friendly.cpp -text
software/ai/hl/stp/play/movement_benchmark.cpp -text
software/ai/hl/stp/play/our_corner_play.cpp -text
software/ai/hl/stp/play/pass_offensive.cpp -text
software/ai/hl/stp/play/penalty_enemy.cpp -text
software/ai/hl/stp/play/penalty_friendly.cpp -text
software/ai/hl/stp/play/play.cpp -text
software/ai/hl/stp/play/play.h -text
software/ai/hl/stp/play/stop.cpp -text
software/ai/hl/stp/play/their_corner_play.cpp -text
software/ai/hl/stp/play_executor.cpp -text
software/ai/hl/stp/play_executor.h -text
software/ai/hl/stp/predicates.cpp -text
software/ai/hl/stp/predicates.h -text
software/ai/hl/stp/region.h -text
software/ai/hl/stp/role.cpp -text
software/ai/hl/stp/role.h -text
software/ai/hl/stp/stp.h -text
software/ai/hl/stp/stp_hl.cpp -text
software/ai/hl/stp/stp_hl_choosable.cpp -text
software/ai/hl/stp/tactic/block.cpp -text
software/ai/hl/stp/tactic/block.h -text
software/ai/hl/stp/tactic/chase.cpp -text
software/ai/hl/stp/tactic/chase.h -text
software/ai/hl/stp/tactic/defend.cpp -text
software/ai/hl/stp/tactic/defend.h -text
software/ai/hl/stp/tactic/defend_solo.cpp -text
software/ai/hl/stp/tactic/defend_solo.h -text
software/ai/hl/stp/tactic/idle.cpp -text
software/ai/hl/stp/tactic/idle.h -text
software/ai/hl/stp/tactic/move.cpp -text
software/ai/hl/stp/tactic/move.h -text
software/ai/hl/stp/tactic/move_stop.cpp -text
software/ai/hl/stp/tactic/move_stop.h -text
software/ai/hl/stp/tactic/move_wait_playtype.cpp -text
software/ai/hl/stp/tactic/move_wait_playtype.h -text
software/ai/hl/stp/tactic/movement_benchmark.cpp -text
software/ai/hl/stp/tactic/movement_benchmark.h -text
software/ai/hl/stp/tactic/offend.cpp -text
software/ai/hl/stp/tactic/offend.h -text
software/ai/hl/stp/tactic/pass.cpp -text
software/ai/hl/stp/tactic/pass.h -text
software/ai/hl/stp/tactic/penalty_goalie.cpp -text
software/ai/hl/stp/tactic/penalty_goalie.h -text
software/ai/hl/stp/tactic/penalty_shoot.cpp -text
software/ai/hl/stp/tactic/penalty_shoot.h -text
software/ai/hl/stp/tactic/ram.cpp -text
software/ai/hl/stp/tactic/ram.h -text
software/ai/hl/stp/tactic/repel.cpp -text
software/ai/hl/stp/tactic/repel.h -text
software/ai/hl/stp/tactic/shoot.cpp -text
software/ai/hl/stp/tactic/shoot.h -text
software/ai/hl/stp/tactic/tactic.cpp -text
software/ai/hl/stp/tactic/tactic.h -text
software/ai/hl/stp/tactic/util.cpp -text
software/ai/hl/stp/tactic/util.h -text
software/ai/hl/stp/tactic/wait_playtype.cpp -text
software/ai/hl/stp/tactic/wait_playtype.h -text
software/ai/hl/stp/world.h -text
software/ai/hl/util.cpp -text
software/ai/hl/util.h -text
software/ai/hl/world.cpp -text
software/ai/hl/world.h -text
software/ai/logger.cpp -text
software/ai/logger.h -text
software/ai/main.cpp -text
software/ai/navigator/astar_navigator.cpp -text
software/ai/navigator/bnavigator.cpp -text
software/ai/navigator/follow_ball_navigator.cpp -text
software/ai/navigator/lazy_navigator.cpp -text
software/ai/navigator/navigator.cpp -text
software/ai/navigator/navigator.h -text
software/ai/navigator/parameter_tuning_navigator.cpp -text
software/ai/navigator/pivot_navigator.cpp -text
software/ai/navigator/pivot_navigator2.cpp -text
software/ai/navigator/pivot_navigator_aram.cpp -text
software/ai/navigator/plan.cpp -text
software/ai/navigator/plan.h -text
software/ai/navigator/reactive.cpp -text
software/ai/navigator/rrt_base.cpp -text
software/ai/navigator/rrt_base.h -text
software/ai/navigator/rrt_navigator.cpp -text
software/ai/navigator/rrt_physics_planner.cpp -text
software/ai/navigator/rrt_physics_planner.h -text
software/ai/navigator/rrt_planner.cpp -text
software/ai/navigator/rrt_planner.h -text
software/ai/navigator/rrtphysics_navigator.cpp -text
software/ai/navigator/simple_navigator.cpp -text
software/ai/navigator/util.cpp -text
software/ai/navigator/util.h -text
software/ai/navigator/world.cpp -text
software/ai/navigator/world.h -text
software/ai/robot_controller/circle_controller.cpp -text
software/ai/robot_controller/fuzzy2_controller.cpp -text
software/ai/robot_controller/fuzzy2_simulator_controller.cpp -text
software/ai/robot_controller/fuzzy_controller.cpp -text
software/ai/robot_controller/fuzzy_controller.h -text
software/ai/robot_controller/max_controller.cpp -text
software/ai/robot_controller/path_controller.cpp -text
software/ai/robot_controller/pid3_controller.cpp -text
software/ai/robot_controller/point_velocity_controller.cpp -text
software/ai/robot_controller/robot_controller.cpp -text
software/ai/robot_controller/robot_controller.h -text
software/ai/robot_controller/tunable_controller.cpp -text
software/ai/robot_controller/tunable_controller.h -text
software/ai/robot_controller/tunable_pid2_controller.cpp -text
software/ai/robot_controller/tunable_pid_controller.cpp -text
software/ai/robot_controller/tunable_pid_controller.h -text
software/ai/robot_controller/world.h -text
software/ai/window.cpp -text
software/ai/window.h -text
software/config.xml -text
software/config/main.cpp -text
software/config/window.cpp -text
software/config/window.h -text
software/fw/ihex.cpp -text
software/fw/ihex.h -text
software/fw/main.cpp -text
software/geom/angle.cpp -text
software/geom/angle.h -text
software/geom/point.cpp -text
software/geom/point.h -text
software/geom/rect.cpp -text
software/geom/rect.h -text
software/geom/util.cpp -text
software/geom/util.h -text
software/log/analyzer.cpp -text
software/log/analyzer.h -text
software/log/launcher.cpp -text
software/log/launcher.h -text
software/log/main.cpp -text
software/log/shared/tags.h -text
software/project.mk -text
software/proto/messages_robocup_ssl_detection.proto -text
software/proto/messages_robocup_ssl_geometry.proto -text
software/proto/messages_robocup_ssl_wrapper.proto -text
software/simulator/Pal[!!-~]Report.txt.txt -text
software/simulator/ball.h -text
software/simulator/connection.cpp -text
software/simulator/connection.h -text
software/simulator/engines/ODE_simulator/ballODE.cpp -text
software/simulator/engines/ODE_simulator/ballODE.h -text
software/simulator/engines/ODE_simulator/compo_player_geom.cpp -text
software/simulator/engines/ODE_simulator/compo_player_geom.h -text
software/simulator/engines/ODE_simulator/ode_simulator.cpp -text
software/simulator/engines/ODE_simulator/playerODE.cpp -text
software/simulator/engines/ODE_simulator/playerODE.h -text
software/simulator/engines/ODE_simulator/player_geom.h -text
software/simulator/engines/engine.h -text
software/simulator/field.cpp -text
software/simulator/field.h -text
software/simulator/main.cpp -text
software/simulator/player.h -text
software/simulator/simulator.cpp -text
software/simulator/simulator.h -text
software/simulator/sockproto/proto.h -text
software/simulator/team.cpp -text
software/simulator/team.h -text
software/style.txt -text
software/test/feedback.cpp -text
software/test/feedback.h -text
software/test/main.cpp -text
software/test/matrix_drive.cpp -text
software/test/matrix_drive.h -text
software/test/params.cpp -text
software/test/params.h -text
software/test/permotor_drive.cpp -text
software/test/permotor_drive.h -text
software/test/window.cpp -text
software/test/window.h -text
software/test/zeroable.h -text
software/uicomponents/abstract_list_model.cpp -text
software/uicomponents/abstract_list_model.h -text
software/uicomponents/annunciator.cpp -text
software/uicomponents/annunciator.h -text
software/uicomponents/light.cpp -text
software/uicomponents/light.h -text
software/uicomponents/param.cpp -text
software/uicomponents/param.h -text
software/uicomponents/visualizer.cpp -text
software/uicomponents/visualizer.h -text
software/uncrustify.cfg -text
software/util/algorithm.h -text
software/util/annunciator.cpp -text
software/util/annunciator.h -text
software/util/async_operation.h -text
software/util/bit_array.h -text
software/util/byref.h -text
software/util/cacheable.cpp -text
software/util/cacheable.h -text
software/util/chdir.cpp -text
software/util/chdir.h -text
software/util/clocksource.h -text
software/util/clocksource_timerfd.cpp -text
software/util/clocksource_timerfd.h -text
software/util/codec.cpp -text
software/util/codec.h -text
software/util/config.cpp -text
software/util/config.h -text
software/util/crc16.cpp -text
software/util/crc16.h -text
software/util/dprint.cpp -text
software/util/dprint.h -text
software/util/exception.cpp -text
software/util/exception.h -text
software/util/fd.cpp -text
software/util/fd.h -text
software/util/fiber.cpp -text
software/util/fiber.h -text
software/util/hungarian.cpp -text
software/util/hungarian.h -text
software/util/kalman/kalman.cpp -text
software/util/kalman/kalman.h -text
software/util/mapped_file.cpp -text
software/util/mapped_file.h -text
software/util/matrix.cpp -text
software/util/matrix.h -text
software/util/misc.cpp -text
software/util/misc.h -text
software/util/mutex.cpp -text
software/util/mutex.h -text
software/util/noncopyable.h -text
software/util/objectstore.cpp -text
software/util/objectstore.h -text
software/util/predictor.cpp -text
software/util/predictor.h -text
software/util/property.h -text
software/util/registerable.h -text
software/util/rle.cpp -text
software/util/rle.h -text
software/util/rwlock.h -text
software/util/scoped_ptr.h -text
software/util/shm.cpp -text
software/util/shm.h -text
software/util/signal.cpp -text
software/util/signal.h -text
software/util/sockaddrs.cpp -text
software/util/sockaddrs.h -text
software/util/stochastic_local_search.cpp -text
software/util/stochastic_local_search.h -text
software/util/time.h -text
software/util/timestep.h -text
software/util/trackable_vector.h -text
software/util/umask.cpp -text
software/util/umask.h -text
software/util/xbee.cpp -text
software/util/xbee.h -text
software/xbee/dongle.cpp -text
software/xbee/dongle.h -text
software/xbee/libusb.cpp -text
software/xbee/libusb.h -text
software/xbee/robot.cpp -text
software/xbee/robot.h -text
