firmware/HWRunSwitch/hwrunswitch.elf
firmware/HWRunSwitch/hwrunswitch.hex
firmware/mainboard-copro/*.cod
firmware/mainboard-copro/*.cof
firmware/mainboard-copro/*.d
firmware/mainboard-copro/*.err
firmware/mainboard-copro/*.hex
firmware/mainboard-copro/*.lst
firmware/mainboard-copro/*.map
software/*.d
software/ai/*.d
software/geom/*.d
software/rctest
software/robot_controller/*.d
software/robot_controller_test/*.d
software/thunderbots
software/util/*.d
software/world/*.d
