<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE thunderbots [
<!ELEMENT thunderbots (params)>
<!ELEMENT params (category)*>
<!ELEMENT category (category | boolean | integer | double)*>
<!ELEMENT boolean (#PCDATA)>
<!ELEMENT integer (#PCDATA)>
<!ELEMENT double (#PCDATA)>
<!ATTLIST category name CDATA #REQUIRED>
<!ATTLIST boolean name CDATA #REQUIRED>
<!ATTLIST integer name CDATA #REQUIRED>
<!ATTLIST double name CDATA #REQUIRED>
]>
<thunderbots>
  <params>
    <category name="Backend">
      <category name="XBee">
        <double name="Loop Delay">0.000</double>
      </category>
    </category>
    <category name="Nav">
      <category name="Pivot">
        <double name="offset angle">80</double>
        <double name="offset distance">0</double>
        <double name="orientation offset">30</double>
      </category>
      <category name="Pivot2">
        <double name="offset angle (degrees)">30</double>
        <double name="offset distance">0.15</double>
        <double name="orientation offset (degrees)">30</double>
      </category>
      <category name="PivotAram">
        <double name="max acceleration">10</double>
        <double name="pivot radius">1.00</double>
      </category>
      <category name="RRT">
        <double name="Pivot: offset angle (degrees)">30</double>
        <double name="Pivot: offset distance">0.15</double>
        <double name="Pivot: orientation offset (degrees)">30</double>
      </category>
    </category>
    <category name="oldAI">
      <boolean name="goalie dive for the ball">true</boolean>
      <double name="goalie should ignore direction of ball">0.050</double>
      <integer name="Grid X size">25</integer>
      <integer name="Grid Y size">25</integer>
      <double name="kickoff: angle to separate players (degrees)">40.0</double>
      <double name="kickoff: angle to separate players (degrees)">40.0</double>
      <double name="Lone goalie distance to goal post (m)">0.300</double>
      <double name="Lone goalie distance to goal post (m)">0.300</double>
      <double name="max goalie dist from goal (robot radius)">3.00</double>
      <double name="shrink robot radius">1.100</double>
      <double name="stop: angle to separate players (degrees)">20.0</double>
      <boolean name="Test strategy catch ball">true</boolean>
      <boolean name="Test strategy Ram ball">true</boolean>
      <boolean name="Test strategy recieve ball">true</boolean>
      <boolean name="Test strategy stay own half">true</boolean>
    </category>
    <category name="RC">
      <category name="Circle">
        <double name="amount to scale controller velocities by">2.00</double>
      </category>
      <category name="fuzzy2">
        <double name="max acc">3.00</double>
      </category>
      <category name="PID3">
        <double name="angle diff">1.00</double>
        <double name="angle max vel">30.00</double>
        <double name="angle prop">30.00</double>
        <double name="angular slowdown when translating">1.010</double>
        <boolean name="flip trans&amp;ang slowdown (CARE)">false</boolean>
        <boolean name="reduce angular velocity when translating">true</boolean>
        <double name="x to y ratio">0.810</double>
        <double name="xy diff">1.00</double>
        <double name="xy max acc">5.00</double>
        <double name="xy max vel">9.00</double>
        <double name="xy prop">20.00</double>
      </category>
    </category>
    <category name="STP">
      <category name="Action">
        <category name="Goalie">
          <double name="Goalie Action: threatening ball speed">0.10</double>
          <double name="Lone Goalie: distance to goal post (m)">0.300</double>
        </category>
        <category name="shoot">
          <double name="Decay constant for the ball velocity">0.100</double>
        </category>
      </category>
      <category name="defense">
        <double name="max goalie dist from goal (robot radius)">3.00</double>
        <double name="shrink robot radius">1.100</double>
      </category>
      <category name="evaluation">
        <double name="speed goalie should ignore direction of ball">0.050</double>
        <double name="Steal threshold: distance of ball from enemy (robot radius)">1.100</double>
      </category>
      <category name="offense">
        <double name="ball distance weight">1.000</double>
        <double name="enemy avoidance distance (robot radius)">4.00</double>
        <integer name="grid x size">25</integer>
        <integer name="grid y size">25</integer>
      </category>
      <category name="pass">
        <double name="ball distance weight">1.000</double>
        <double name="enemy avoidance distance (robot radius)">4.00</double>
      </category>
      <category name="play">
        <double name="kickoff: angle to separate players (degrees)">40.0</double>
      </category>
      <category name="Tactic">
        <double name="stop: angle to separate players (degrees)">20.0</double>
      </category>
      <category name="util">
        <double name="distance for ball possesion (x ball radius)">2.000</double>
        <double name="if dribble &gt; this time, force shoot (sec)">2.00</double>
        <boolean name="posses ball is has ball">true</boolean>
        <double name="Shooting Accuracy General (meters from target)">0.50</double>
        <double name="time we can prepare during special plays (sec)">3</double>
      </category>
    </category>
  </params>
</thunderbots>
