<?xml version="1.0" encoding="UTF-8"?>
<thunderbots>
	<category name="Uncategorized">
		<double name=" amount to scale controller velocities by ">2.00</double>
		<double name="Decay constant for the ball velocity">0.100</double>
		<double name="decides at which speed goalie should ignore direction of ball ">0.050</double>
		<double name="decides at which speed goalie should ignore direction of ball ">0.050</double>
		<boolean name="decides whether the goalie should dive for the ball ">true</boolean>
		<double name="(defense) max goalie dist from goal (robot radius)">3.00</double>
		<double name="(defense) shrink robot radius">1.100</double>
		<double name="distance for ball possesion (x ball radius)">2.000</double>
		<double name="Distance of ball from enemy robot to activate steal mechanism (robot radius)">1.100</double>
		<double name="Fuzzy2: max acc">3.00</double>
		<double name="Goalie Action: threatening ball speed">0.10</double>
		<integer name="Grid X size">25</integer>
		<integer name="Grid Y size">25</integer>
		<double name="if dribble &gt; this time, force shoot (sec)">2.00</double>
		<double name="kickoff: angle to separate players (degrees)">40.0</double>
		<double name="kickoff: angle to separate players (degrees)">40.0</double>
		<double name="kickoff: angle to separate players (degrees)">40.0</double>
		<double name="Lone goalie distance to goal post (m)">0.200</double>
		<double name="Lone goalie distance to goal post (m)">0.200</double>
		<double name="Lone Goalie: distance to goal post (m)">0.300</double>
		<double name="Loop Delay">0.000</double>
		<double name="max goalie dist from goal (robot radius)">3.00</double>
		<double name="PID3: angle diff">2.00</double>
		<double name="PID3: angle prop">18.00</double>
		<double name="PID3: angle thresh">12.00</double>
		<double name="PID3: diff">4.00</double>
		<boolean name="PID3: flip trans&amp;ang slowdown">false</boolean>
		<double name="PID3: max acc">3.00</double>
		<double name="PID3: max vel">6.00</double>
		<double name="PID3: prop">20.00</double>
		<double name="PID3: slowdown (CARE)">1.500</double>
		<boolean name="PID3: Slow if translating">true</boolean>
		<double name="PID3: xy ratio">0.810</double>
		<double name="Pivot Navigator 2: offset angle (degrees)">40</double>
		<double name="Pivot Navigator 2: offset distance">0.25</double>
		<double name="Pivot Navigator 2: orientation offset (degrees)">30</double>
		<double name="Pivot Navigator A: max acceleration">10</double>
		<double name="Pivot Navigator A: pivot radius">1.00</double>
		<double name="Pivot Navigator: offset angle">80</double>
		<double name="Pivot Navigator: offset distance">0</double>
		<double name="Pivot Navigator: orientation offset">30</double>
		<double name="Pivot the amount of erroneous angle acceptable for pivoting">4.00</double>
		<boolean name="posses ball is has ball">true</boolean>
		<double name="RRT Pivot: offset angle (degrees)">40</double>
		<double name="RRT Pivot: offset distance">0.00</double>
		<double name="RRT Pivot: orientation offset (degrees)">0</double>
		<double name="Shooting Accuracy General (degrees)">10.0</double>
		<double name="shrink robot radius">1.100</double>
		<double name="stop: angle to separate players (degrees)">20.0</double>
		<double name="stop: angle to separate players (degrees)">20.0</double>
		<boolean name="Test strategy catch ball">true</boolean>
		<boolean name="Test strategy Ram ball">true</boolean>
		<boolean name="Test strategy recieve ball">true</boolean>
		<boolean name="Test strategy stay own half">true</boolean>
		<double name="time we can prepare during special plays (sec)">3</double>
	</category>
</thunderbots>
